{% extends "layout.html" %}

{% block content %}

{% from "_formhelpers.html" import render_field %}
<form method="POST" enctype="multipart/form-data">
  <dl>
    {% for item in form %}
        {{ render_field(item) }}
    {% endfor %}
  </dl>
</form>

{% endblock %}

{% block footer %}
<script type="text/javascript" src="/super_admin/jinjian/data/jquery.js"></script>

<script type="text/javascript">
    $("#sign_image").click(function(){
        alert("点击增加一行元素");
    })
</script>
{% endblock %}
